<div class="container-fluid altura-proyectos my-5" id="proyectos">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="http://www.cocinacoquere.com/" target="_blank"><img src="../../../assets/images/captura-coquere.png" class="d-block w-100 border-radius" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href="https://pablodelatorre.github.io/LilianFloresdeBach/" target="_blank"><img src="../../../assets/images/captura-flores-de-bach.png" class="d-block w-100 border-radius" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href="https://ecommerce-simulation-react-firebase.netlify.app/" target="_blank"><img src="../../../assets/images/img-ecommerce-react-firebase.png" class="d-block w-100 border-radius" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href="https://mi-portfolio-pablodlt.000webhostapp.com/" target="_blank"><img src="../../../assets/images/img-portfolio.png" class="d-block w-100 border-radius" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href="https://pablodelatorre.github.io/ejemplo-login-js/" target="_blank"><img src="../../../assets/images/captura-login.png" class="d-block w-100 border-radius" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href="https://pablodelatorre.github.io/calculator-js/" target="_blank"><img src="../../../assets/images/calculadora-js.png" class="d-block w-100 border-radius" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href="https://github.com/PablodelaTorre?tab=repositories/" target="_blank"><img src="../../../assets/images/img-repositorios-github.png" class="d-block w-100 border-radius" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href="https://rick-and-morty-cards-react-app.netlify.app/" target="_blank"><img src="../../../assets/images/img-rick-morty-app.png" class="d-block w-100 border-radius" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href="https://github.com/PablodelaTorre/calculadora-react.git" target="_blank"><img src="../../../assets/images/calculadora-react.png" class="d-block w-100 border-radius" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href="https://github.com/PablodelaTorre/trabajo-react-js.git" target="_blank"><img src="../../../assets/images/ecommerce-react.png" class="d-block w-100 border-radius" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href="https://github.com/PablodelaTorre/rick-morty-react.git" target="_blank"><img src="../../../assets/images/rick-morty-api-react.png" class="d-block w-100 border-radius" alt="..."></a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>