<div class="container-fluid contenedor-form">
    <div class="">
        <div class="center">
            <h3 class="">Formulario de contacto</h3>
            <p class="textoFormulario center">Si esta interesado en contratarme, puede dejar sus datos en el siguiente formulario y a la brevedad me pondré en contacto.</p>
            <p class="textoFormulario center">O puede ponerse en contacto a través de cualquiera de las redes y datos de contacto abajo especificados.</p>
        </div>
        <div class="">
            <app-formulario></app-formulario>
        </div>
    </div>    
</div>

<div class="container-fluid mt-4 contacto mt-2" id="contacto">
    <div class="row d-flex justify-content-center align-content-center">
        <p class="fs-1 fw-bold d-flex justify-content-center">Contacto:</p>
        <p class="fs-6 fw-bold d-flex justify-content-center">País: Argentina</p>
        <p class="fs-6 fw-bold d-flex justify-content-center">Ciudad: Ciudad Autónoma de Buenos Aires</p>
        <p class="fs-6 fw-bold d-flex justify-content-center">Mail: delatorre.pablodaniel@gmail.com</p>
        <p class="fs-6 fw-bold d-flex justify-content-center">Celular: +54 1166715243</p>
    </div>
    <div class="row d-flex justify-content-end align-content-center mt-2">
        <p class="fs-2 fw-bold d-flex justify-content-center">Redes:</p>
    </div>
    <div class="row d-flex justify-content-center align-content-center w-100">
        <a href="https://github.com/PablodelaTorre?tab=repositories" target="_blank" class="redes mx-4"><img src="../../../assets/images/github.png" alt="" class="redes"></a>
        <a href="https://www.linkedin.com/in/pablodanieldelatorre/" target="_blank" class="redes mx-4"><img src="../../../assets/images/linkedin.png" alt="" class="redes"></a>
    </div>
</div> 