<header class="sticky-top">
    <nav class="navbar-expand-sm navbar-light py-0 background-primario">
        <div class="container-fluid">
            <div class="navbar-collapse row d-flex">
                <ul class="navbar-nav lista-nav d-flex px-0 justify-content-md-around justify-content-sm-around">
                    <li class="">
                        <a class="d-flex justify-content-center" aria-current="page" href="#inicio">Inicio</a>
                    </li>
                    <li class="">
                        <a class="d-flex justify-content-center" href="#proyectos">Proyectos</a>
                    </li>
                    <li class="">
                        <a class="d-flex justify-content-center" href="#conocimientos">Conocimientos</a>
                    </li>
                    <li class="">
                        <a class="d-flex justify-content-center" href="#contacto">Contacto</a>
                    </li>                                                                  
                </ul>                        
            </div>                    
        </div>
    </nav>
</header>  