<div class="container-fluid separacion">
    <div class="row d-flex justify-content-evenly align-content-center tecHeight2">
        <img src="../../../assets/images/logo-node.png" alt="" class="logo">
        <img src="../../../assets/images/logo-java.png" alt="" class="logo">
        <img src="../../../assets/images/logo-spring.png" alt="" class="logo">
        <img src="../../../assets/images/logo-sql.png" alt="" class="logo">
        <img src="../../../assets/images/logo-mongodb.png" alt="" class="logo">
    </div>
</div> 