<div class="container-fluid separacion" id="conocimientos">
    <div class="row d-flex justify-content-evenly align-content-center tecHeight">
        <img src="../../../assets/images/logo-html.png" alt="" class="logo">
        <img src="../../../assets/images/logo-css.png" alt="" class="logo">
        <img src="../../../assets/images/logo-bootstrap.png" alt="" class="logo">
        <img src="../../../assets/images/logo-js.png" alt="" class="logo">
        <img src="../../../assets/images/typescript.png" alt="" class="logo">
        <img src="../../../assets/images/logo-git.png" alt="" class="logo">
        <img src="../../../assets/images/github.png" alt="" class="logo">
        <img src="../../../assets/images/logo-sass.png" alt="" class="logo">
        <img src="../../../assets/images/logo-react.png" alt="" class="logo">
        <img src="../../../assets/images/logo-angular.png" alt="" class="logo">
    </div>
</div>    
